@charset "utf-8";
/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    height: 100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: 'Lato', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    color: #FFFFFF;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

i {
    font-style: italic;
}

#wrapper {
    width: 100%;
    height: 100%;
    background-color: #2ca4ad;
    overflow: auto;
}

#newBtn {
    position: fixed;
    bottom: 2%;
    right: 2%;
    border-radius: 50%;
    color: #FFFFFF;
    text-align: center;
    line-height: 100px;
    font-size: 100px;
    width: 100px;
    height: 100px;
    z-index: 8;
    background-color: #2b7a53;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    -webkit-box-shadow: 2px 5px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 5px 2px 2px rgba(0, 0, 0, 0.3);
}

#newBtn:active {
    background-color: #2B6055;
}

h1 {
    font-weight: 200;
    color: #FFFFFF;
    font-size: 4em;
    text-align: center;
    margin-bottom: 1em;
}

h1 input {
    font-weight: 200;
    color: #FFFFFF;
    text-align: center;
    background-color: transparent;
    max-width: 90%;
    border: none;
}

.mainContainer {
    padding: 10em 0 3em;
}

.list {
    text-align: center;
    margin: 0 auto;
    padding: 3% 10% 3% 3%;
    font-size: 1.7em;
    border: 1px solid #FFFFFF;
    width: 85%;
    background: url('../img/ico_whiteArrow.svg') #1C83D1 95% center no-repeat;
    background-size: 3% auto;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, 0.2);
    z-index: 15;
    display: none;
}

.modalInner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 94%;
    background-color: #1C83D1;
    padding: 5% 3% 3% 3%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate(-50%, -50%);
}

.modal p {
    font-size: 2.5rem;
}

.modal .title {
    text-align: center;
    font-size: 4em;
    padding-bottom: 8%;
}

.modal .form {
    text-align: left;
    display: block;
    margin: 0 auto;
    width: 80%;
    font-size: 2.5rem;
    margin-bottom: 0.8em;
}

.modal label {
    display: inline-block;
    width: 4em;
}

.modal input[type="text"]{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    width: 8em;
    color: #FFFFFF;
    padding-bottom: 1%;
}

.modal .bottomLink {
    padding-top: 2.2em;
    text-align: center;;
}

.modal .bottomLink a {
    display: inline-block;
}

.modal .bottomLink a:active {
    background-color: #1C4DC5;
}

.modal .bottomLink.twoChoice a {
    width: 49%;
    font-size: 1.8rem;
    font-style: italic;
    padding: 1.5% 0;
}

.modal .bottomLink.twoChoice a:first-child {
    border-right: 1px solid #FFFFFF;
}

.ngdialog {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 14%;
    z-index: 18;
    overflow: hidden;
}

.ngdialog-content {
    width: 80%;
    padding: 5%;
    color: #000000;
    background-color: #FFFFFF;
    font-size: 1.7em;
    position: absolute;
    left: 50%;
    bottom: 0;
    border: 1px solid transparent;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate3d(-50%,0,0);
    transform: translate(-50%,0);
    -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.5);
}

.ngdialog-theme-red.ngdialog-content {
    color: #A94442;
    background-color: #EBCCD1;
    border-color: #EBCCD1;
}

.ngdialog-theme-green.ngdialog-content {
    color: #3C763D;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}

.ngdialog-close {
    display: none;
}



/***

    Item page

***/

.itemModule {
    width: 95%;
    margin: 5% auto;
    background-color: #2B7A53;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#totalBox {

}

#totalBox p {
    padding: 3%;
    font-size: 2em;
    display: table;
    width: 94%;
}

#totalBox p span {
    display: table-cell;
    vertical-align: middle;
}

#totalBox p span:last-child {
    text-align: right;
    font-weight: 200;
    font-size: 2em;
}

#filterBox p {
    font-size: 1.7em;
}

.actionBtn {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: none;
}

.actionBlock {
    text-align: center;
}

.actionBlock .actionBtn:first-child{
    margin-right: 3em;
}

.actionBlock .actionBtn.edit {
    opacity: 0.5;
    background: url('../img/ico_edit.svg') top center no-repeat;
    background-size: 100% auto;
}

.actionBlock .actionBtn.remove{
    opacity: 0.5;
    background: url('../img/ico_close.svg') top center no-repeat;
    background-size: 100% auto;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}

@media screen and (max-width: 500px) {

    #newBtn {
        line-height: 70px;
        font-size: 60px;
        width: 70px;
        height: 70px;
    }

}

@media screen and (min-width: 700px) {

    body {
        font-size: 15px;
    }

}
