<div id="LTRwrapper">
    <h3>Last 5 entry</h3>
    <div id="LTRBlock">
        <ul>
            <li ng-repeat="elem in LTRelemsData">
                <p class="LTRname">
                    {{elem.infos.name}}
                </p>
                <div class="LTRaction">
                    <button class="edit actionBtn" ng-click="LTReditElem(elem.infos.id)"></button>
                    <button class="remove actionBtn" ng-click="LTRremoveElem(elem.infos.id)"></button>
                </div>
                <div class="LTRinfos">
                    <p class="date">{{elem.dateOfCreation | dateFormatService}}</p>
                    <p class="price">{{elem.infos.price}}<span class="devise">&euro;</span></p>
                </div>
            </li>
        </ul>
    </div>
</div>
<br />
