<div id="DFwrapper">

	<p>
        Filter by date : 
        <select ng-model="DFchoosedDate" ng-change="changeDateFilter()">
            <option value="today">Today</option>
			<option value="week">1 week</option>
            <option value="month">1 Month</option>
            <option value="threeMonth">last 3 Month</option>
            <option value="sixMonth">last 6 Month</option>
            <option value="year">1 Year</option>
            <option value="start">Start</option>
        </select>
    </p>
	<div id="DFsecondChoice">
		{{DFfrom}} to {{DFto}}
	</div>
</div>
